  <footer>
    <div class="container">
      <p>All rights reserved by Hearty Center. © 2017. <br>
        5 Bega Place, Georges Hall, NSW 2198, Australia.</p>

      <p>
        <small>Disclaimer: Hearty Center is not a medical facility and we do not administer any treatments, our approach is strictly lifestyle-based. We do not claim to have the cure for cancer. Our mission is to creating the best quality of nourishing for everybody enduring with cancer.</small>
      </p>
    </div>

  </footer>

  <script src="app.js"></script>
  </body>
</html>
