header {
  position: relative;
  top: 60px;
  margin-bottom: 70px;

  @mixin md {
    position: static;
    margin-bottom: 30px;
  }
}

.logo {
  text-align: center;
  padding: 20px 0;

  img {
    width: 120px;
  }
}
